.headers {
    position: relative;
    height: 700px;
}

.backgroundImage {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/Banners/banner1.png");
    background-size: cover;
    z-index: -1;
}

.formContainer {
    position: relative;
    top: 120px;
    left: 350px;
    z-index: -1;
}

.headingDiv {
    position: absolute;
    top: 350px;
    left: 100px;
    z-index: -1;
}

.heading {
    color: var(--white-50, #CAC4D2);
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 118%;
    display: block;
}

.subHeading {
    color: #C2A9D9;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}