.mainDiv {
    background: #121212;
}

.heading {
    color: #D9D9D9;
    font-size: 50px;
    font-weight: 700;
    line-height: 118%;
    padding: 3% 2% 1.5% 2%;
    text-align: center;
}


.row1Container,
.row2Container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 2%;
    align-items: center;
}

.row1 {
    width: 636px;
    height: 473px;
    border-radius: 28px;
    background: linear-gradient(180deg, rgba(37, 27, 46, 0.00) 0%, #251B2E 100%);
    padding: 2.5%;
    text-align: center;
}


.row1>span:first-child,
.row2>span:nth-child(2),
.box2>span:nth-child(10),
.box6>span:nth-child(3) {
    display: block;
    color: var(--white-50, #CAC4D2);
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 3%;
}

.row1>span:nth-child(2),
.row2>span:nth-child(3),
.box2>span:nth-child(9),
.box6>span:nth-child(4) {
    display: block;
    color: var(--content-100, #BA94DF);
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 3%;
}

.row1Img1 {
    position: relative;
    width: 60%;
    top: 5%;
}

.row1Img2 {
    position: absolute;
    width: 12%;
    left: 420px;
    top: 1100px;
}

.imgContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.imgContainer>div {
    width: 150px;
    height: 220px;
    border-radius: 14px;
    padding-top: 3%;
    background-image: url("/assets/images/key-feature/Rectangle-voilet.png");
}

.imgContainer img {
    height: 135px;
    object-fit: cover;
}

.imgContainer>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modelsData>p {
    color: #FFF;
    text-align: justify;
    font-size: 11.603px;
    font-weight: 400;
    letter-spacing: 0.14px;
    padding: 3.5%;
}

.price {
    display: flex;
    justify-content: space-between;
    padding: 3.5%;
    color: #FFF;
    text-align: justify;
    font-size: 10.603px;
    font-weight: 300;
    letter-spacing: 0.14px;
}

.price>img {
    height: 12px;
    margin-left: 70px;
}

.row2 {
    width: 545px;
    height: 424px;
    border-radius: 28px;
    background: linear-gradient(180deg, rgba(37, 27, 46, 0.00) 0%, #251B2E 100%);
    text-align: center;
    padding: 2%;
}

.row2>img {
    padding: 4%;
}

.box2,
.box4,
.box5,
.box6 {
    height: 526px;
    background: #121212;
}

.box2 {
    position: relative;
    background: linear-gradient(135deg, rgba(117, 38, 242, 0.10) 0%, rgba(200, 38, 242, 0.10) 100%);
}

.box2>img {
    position: absolute;
}

.box2>img:first-child {
    top: 35%;
    left: 7%;
    width: 15%;
}

.box2>img:nth-child(6) {
    top: 35%;
    right: 7%;
    width: 15%;
}

.box2>img:nth-child(2) {
    bottom: 10%;
    right: 30%;
    width: 8%;
}

.box2>img:nth-child(5) {
    bottom: 10%;
    left: 30%;
    width: 8%;
}

.box2>img:nth-child(3) {
    top: 15%;
    left: 20%;
    width: 12%;
}

.box2>img:nth-child(4) {
    top: 15%;
    right: 20%;
    width: 12%;
}

.box2>img:nth-child(7) {
    top: 8%;
    right: 35%;
}

.box2>img:nth-child(8) {
    top: 8%;
    left: 35%;
}

.box2>span:nth-child(10),
.box2>span:nth-child(9) {
    width: 572px;
    position: relative;
    top: 25%;
    left: 32%;
    text-align: center;
    padding-bottom: 0%;
    line-height: 45px;
}

.joinNowBtn {
    position: absolute;
    top: 50%;
    left: 43%;
}

.box6 {
    background-image: url("/assets/images/community-page/content.png");
}

.box6>img:nth-child(2) {
    position: relative;
    left: 31.5%;
    mix-blend-mode: saturation;

}

.box6>img:nth-child(1) {
    mix-blend-mode: saturation;
}

.box6>span:nth-child(3),
.box6>span:nth-child(4) {
    width: 772px;
    position: relative;
    bottom: 70%;
    left: 23%;
    text-align: center;
    padding-bottom: 1%;

}

.learnMoreBtn {
    position: relative;
    bottom: 70%;
    left: 41%;
}