.mainDiv {
    background: #121212;
}

.heading {
    color: #D9D9D9;
    font-size: 50px;
    font-weight: 700;
    line-height: 118%;
    padding: 3% 2% 1.5% 2%;
    text-align: center;
}


.row1Container,
.row2Container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 2%;
    align-items: center;
}

.row1 {
    width: 636px;
    height: 473px;
    border-radius: 28px;
    background: linear-gradient(180deg, rgba(37, 27, 46, 0.00) 0%, #251B2E 100%);
    padding: 2.5%;
    text-align: center;
}


.row1>span:first-child,
.row2>span:nth-child(2),
.box2>span:nth-child(10),
.box5>span:nth-child(3),
.box4>span:nth-child(2) {
    display: block;
    color: var(--white-50, #CAC4D2);
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 3%;
}

.row1>span:nth-child(2),
.row2>span:nth-child(3),
.box2>span:nth-child(9),
.box5>span:nth-child(4) {
    display: block;
    color: var(--content-100, #BA94DF);
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 3%;
}

.row1Img1 {
    position: relative;
    width: 60%;
    top: 5%;
}

.row1Img2 {
    position: absolute;
    width: 12%;
    left: 37%;
    top: 183%;
    transform: translate(-50%, -50%);
}

.imgContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.imgContainer>div {
    width: 150px;
    height: 220px;
    border-radius: 14px;
    padding-top: 3%;
    background-image: url("/assets/images/key-feature/Rectangle-voilet.png");
}

.imgContainer img {
    height: 135px;
    object-fit: cover;
}

.imgContainer>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modelsData>p {
    color: #FFF;
    text-align: justify;
    font-size: 11.603px;
    font-weight: 400;
    letter-spacing: 0.14px;
    padding: 3.5%;
}

.price {
    display: flex;
    justify-content: space-between;
    padding: 3.5%;
    color: #FFF;
    text-align: justify;
    font-size: 10.603px;
    font-weight: 300;
    letter-spacing: 0.14px;
}

.price>img {
    height: 12px;
    margin-left: 70px;
}

.row2 {
    width: 545px;
    height: 424px;
    border-radius: 28px;
    background: linear-gradient(180deg, rgba(37, 27, 46, 0.00) 0%, #251B2E 100%);
    text-align: center;
    padding: 2%;
}

.row2>img {
    padding: 4%;
}

.box2,
.box4,
.box5 {

    height: 526px;
    background: #121212;
}

.box2 {
    position: relative;
    background: linear-gradient(135deg, rgba(117, 38, 242, 0.10) 0%, rgba(200, 38, 242, 0.10) 100%);
}

.box2>img {
    position: absolute;

}

.box2>img:first-child {
    top: 35%;
    left: 7%;
    width: 15%;
}

.box2>img:nth-child(6) {
    top: 35%;
    right: 7%;
    width: 15%;
}

.box2>img:nth-child(2) {
    bottom: 10%;
    right: 30%;
    width: 8%;
}

.box2>img:nth-child(5) {
    bottom: 10%;
    left: 30%;
    width: 8%;
}

.box2>img:nth-child(3) {
    top: 15%;
    left: 20%;
    width: 12%;
}

.box2>img:nth-child(4) {
    top: 15%;
    right: 20%;
    width: 12%;
}

.box2>img:nth-child(7) {
    top: 8%;
    right: 35%;
}

.box2>img:nth-child(8) {
    top: 8%;
    left: 35%;
}

.box2>span:nth-child(10),
.box2>span:nth-child(9),
.joinNowBtn {
    width: 90%;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    line-height: 30px;
    transform: translate(-50%, -50%);
}

.box2>span:nth-child(10) {
    top: 40%;
}

.joinNowBtn {
    top: 50%;
}


.box4 {
    height: 476px;
    overflow: hidden;
}

.galaxy1 {
    width: 1392px;
    height: 1392px;
    border-radius: 50%;
    border: 1px solid #3e3844;
    position: relative;
    bottom: 100%;
    right: 0.4%;
}

.galaxy2 {
    width: 1232px;
    height: 1232px;
    border-radius: 50%;
    border: 1px solid #3e3844;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.galaxy2>img:first-child {
    position: absolute;
    top: 38%;
    left: 1.2%;
    transform: translate(-50%, -50%);
}

.galaxy2>img:nth-child(2) {
    position: absolute;
    top: 53%;
    left: .2%;
    width: 2%;
    transform: translate(-50%, -50%);
}

.galaxy2>img:nth-child(3) {
    position: absolute;
    top: 65%;
    left: 1.7%;
    width: 1.5%;
}

.galaxy2>img:nth-child(4) {
    position: absolute;
    top: 38%;
    left: 99%;
    width: 2.5%;
    transform: translate(-50%, -50%);
}

.galaxy2>img:nth-child(5) {
    position: absolute;
    top: 53%;
    left: 100%;
    width: 1.3%;
    transform: translate(-50%, -50%);
}

.galaxy2>img:nth-child(6) {
    position: absolute;
    top: 65%;
    right: 1%;
    width: 1.5%;
    transform: translate(-50%, -50%);
}

.galaxy3 {
    width: 1082px;
    height: 1082px;
    border-radius: 50%;
    border: 1px solid #3e3844;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.galaxy3>img:first-child {
    position: absolute;
    top: 43%;
    right: 97%;
    width: 2.5%;
    transform: translate(-50%, -50%);
}

.galaxy3>img:nth-child(2) {
    position: absolute;
    top: 62%;
    left: 1.5%;
    width: 2.5%;
    transform: translate(-50%, -50%);
}

.galaxy3>img:nth-child(3) {
    position: absolute;
    top: 31.5%;
    right: 1%;
    width: 2.5%;
    transform: translate(-50%, -50%);
}

.galaxy3>img:nth-child(4) {
    position: absolute;
    top: 45%;
    left: 99.5%;
    width: 2%;
    transform: translate(-50%, -50%);
}

.galaxy3>img:nth-child(5) {
    position: absolute;
    top: 59%;
    left: 99%;
    width: 3%;
    transform: translate(-50%, -50%);
}

.galaxy4 {
    width: 932px;
    height: 932px;
    border-radius: 50%;
    border: 1px solid #3e3844;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.galaxy4>img:first-child {
    position: absolute;
    top: 32%;
    left: 3.5%;
    width: 2.2%;
    transform: translate(-50%, -50%);
}

.galaxy4>img:nth-child(2) {
    position: absolute;
    top: 38%;
    left: 99%;
    width: 2.5%;
    transform: translate(-50%, -50%);
}

.box4 {
    position: relative;
}

.box4>span:nth-child(2) {
    width: 572px;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    padding-bottom: 0%;
    line-height: 40px;
    transform: translate(-50%, -50%);
}

.box4>span:nth-child(3),
.box4>span:nth-child(4),
.box4>span:nth-child(5) {
    color: var(--content-100, #BA94DF);
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 3%;
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
}

.box4>span:nth-child(4) {
    font-size: 30px;
    font-weight: 500;
    left: 41%;
    text-align: center;
    background: linear-gradient(135deg, #7526F2 0%, #C826F2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box4>span:nth-child(5) {
    left: 57%;
}

.earnNowBtn {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box5 {
    background-image: url("/assets/images/community-page/content.png");
    position: relative;
}

.box5>img:nth-child(2) {
    position: relative;
    left: 31.5%;
    mix-blend-mode: saturation;

}

.box5>img:nth-child(1) {
    mix-blend-mode: saturation;
}

.box5>span:nth-child(3),
.box5>span:nth-child(4) {
    width: 772px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 1%;
}

.box5>span:nth-child(4) {
    top: 50%;
}

.learnMoreBtn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MEDIA QUERIES STARTED */

@media screen and (max-width: 525px) {
    .heading {
        font-size: 34px;
        font-weight: 600;
        background: var(--linera-100, linear-gradient(90deg, #5200FF 0%, #FFF 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .row1Container,
    .row2Container {
        display: block;
    }

    .row1,
    .row2 {
        width: 90%;
        height: 381px;
        border-radius: 6px;
        background: #191919;
        margin: auto;
        margin-bottom: 20px;
    }

    .row1>span:first-child,
    .row2>span:nth-child(2),
    .box2>span:nth-child(10),
    .box5>span:nth-child(3),
    .box4>span:nth-child(2) {
        font-size: 25px;
    }

    .row1>span:nth-child(2),
    .row2>span:nth-child(3),
    .box2>span:nth-child(9),
    .box5>span:nth-child(4) {
        color: #89759C;
        font-weight: 400;
        font-size: 12px;
    }

    .row1Img2 {
        top: 180%;
        left: 73%;

    }

    .imgContainer {
        overflow-x: hidden;
    }

    .imgContainer>div {
        width: 120px;
        height: 150px;
    }

    .imgContainer img {
        height: 110px;
    }

    .price {
        display: none;
    }

    /* ROW 2 MQ */

    .row2 {
        background: #1E1C22;
    }

    .box2 {
        height: 321px;
    }

    .box2>span:nth-child(9) {
        top: 25%;
        line-height: 25px;
    }

    .box2>span:nth-child(10) {
        top: 45%;
    }

    .joinNowBtn {
        top: 60%;
    }

    .box2>img {
        top: 50%;
        left: 50%;
    }

    .box3>img {
        height: 300px;
    }

    .box4 {
        width: 100%;
        height: 300px;
        margin: 2% 0 2% 0;
    }

    .galaxy1 {
        height: 351px;
        width: 351px;
        bottom: 10%;
        left: 8%;
    }


    .galaxy2 {
        height: 271px;
        width: 271px;
    }

    .galaxy3 {
        height: 201px;
        width: 201px;
    }

    .galaxy4 {
        height: 121px;
        width: 121px;
    }

    .box4>span:nth-child(2) {
        width: 90%;
        font-size: 20px;
        line-height: 25px;
    }

    .box4>span:nth-child(3),
    .box4>span:nth-child(5) {
        font-size: 12px;
        width: 80%;
    }

    .box4>span:nth-child(3) {
        left: 50%;
        top: 50%;
    }


    .box4>span:nth-child(4) {
        font-size: 18px;
        left: 36%;
    }

    .box4>span:nth-child(5) {
        left: 82%;
        display: inline-block;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .earnNowBtn {
        top: 60%;
    }

    .box5 {
        height: 291px;
        width: 90%;
        margin: auto;
        border-radius: 16px;
    }

    .box5>img {
        height: 100%;
    }

    .box5>span:nth-child(3) {
        font-size: 20px;
        top: 28%;

    }

    .box5>span:nth-child(4) {
        font-size: 12px;
        display: inline-block;
        white-space: pre-wrap;
        word-wrap: break-word;
        width: 90%;
    }

}