.navDiv {
    width: 100%;
    height: 70px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    position: fixed;
    z-index: 100;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    padding: 0 0 0 35px;

}

.home {
    background: var(--aa, linear-gradient(135deg, #7526F2 0%, #C826F2 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.heading {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.navContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

#select {
    background-color: #121212;
}

.loginDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px 0 0;
}